body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
table,
th,
td {
  border: 4px solid #000;
  border-collapse: collapse;
  background-color: #008000;
}
th {
  width: 100px;
}
td {
  width: 100px;
  height: 100px;
}
